@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root{
  --primary-color:#4891ff;
  --light-color: #f4f4f6;
  --dark-color: #111;
}
body{
  font-family: 'poppins';
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  overflow-x: hidden;
}

a{
  color: #333;
}

img{
  max-width: 100%;
}

/* navbar */
.navbar{
  background: #fff;
  padding: 20px;
}

.navbar .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul{
  display: flex;
}

.navbar ul li a{
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.5s ease;
}

.navbar ul li a:hover{
  color: var(--primary-color) ;
}

.navbar ul li:last-child a{
  margin-left: 10px;
}

.navbar ul li a i{
  margin-right: 10px;
}

/* hero section */

.hero{
  margin-bottom: 50px;
}

.hero .container{
  background: url('../images/hero-bg.png') no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 550px;
}

.hero .hero-content{
  width: 70%;
}

.hero .hero-text{
  width: 70%;
  margin-bottom: 20px;
}

/* video section */

.video{
  margin-top: 40px;
  padding: 10px 0 40px;
}

.video-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-preview{
  margin-bottom: 20px;
}

/* testimonials */

.testimonials{
  padding: 40px 0;
}

.testimonials .testimonials-heading{
  width: 700px;
  margin-bottom: 40px;
}

.testimonials-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.testimonials .card p:nth-child(2){
  margin-top: 30px;
  font-weight: bold;
}

/* pricing section */

.pricing-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  gap: 30px;
}

.pricing .pricing-card-subheading{
  margin-bottom: 30px;
}

.pricing .pricing-card-price{
  margin-bottom: 30px;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.pricing ul{
  margin: 30px 0;
}

.pricing ul li{
  margin-bottom: 20px;
}

.pricing ul li i{
  margin-right: 10px;
}

.pricing .pricing-footer{
  margin: 30px 0;
}

/* FAQ */

.faq{
  padding: 40px 0;
}

.faq .faq-group{
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.faq .faq-group .faq-group-header{
  padding: 20px 0;
  margin-bottom: 15px;
  position: relative;
}

.faq .faq-group .faq-group-header h4{
  font-weight: 600;
  width: 95%;
}

.faq .faq-group .faq-group-header i{
  position: absolute;
  right: 0;
  top: 35px;
  font-size: 1.3rem;
  cursor: pointer;
}

.faq .faq-group .faq-group-body{
  display: none;
}

.faq .faq-group .faq-group-body.open{
  display: block;
}

.faq ul.faq-menu{
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ddd;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.faq ul.faq-menu li{
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

.faq ul.faq-menu li.active{
  background: var(--primary-color);
  color: #fff;
}

/* footer */

.footer{
  padding: 40px 0;
}

.footer h4{
  margin-bottom: 10px;
}

.footer ul li{
  line-height: 2.5;
}

.footer a{
  color: #ccc;
}

.footer i{
  font-size: 1.5rem;
  margin-right: 10px;
}

.footer .footer-grid{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.footer .card{
  margin: 2px 30px 30px 0;
}

.footer input[type='email']{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 0;
}

/* utility classes */
.container{
max-width: 1100px;
margin: 0 auto;
padding: 0 15px;
}

.container-sm{
max-width: 800px;
margin: 0 auto;
padding: 0 15px;
}

/* card classes */

.card{
  background: #fff;
  color: #000;
  border-radius: 10px;
  padding: 20px;
}

/* buttons classes */
.btn{
  display: inline-block;
  padding: 13px 20px;
  background: var(--light-color);
  color: #333;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.5s ease;
}

.btn:hover{
  opacity: 0.8;
}

.btn-primary{
  background: var(--primary-color);
  color: #fff;
}

.btn-dark{
  background: var(--dark-color);
  color: #fff;
}

.btn-block{
  display: block;
  width: 100%;
}

/* text classes */

.text-xxl{
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 20px;
}

.text-xl{
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 40px 20px;
}

.text-lg{
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 20px;
}

.text-md{
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 10px;
}

.text-sm{
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 5px;
}

.text-center{
  text-align: center;
}


/* background classes */
.bg-primary{
  background: var(--primary-color);
}

.bg-light{
  background: var(--light-color);
  color: #333;
}

.bg-dark{
  background: var(--dark-color);
  color: #fff;
}

.bg-black{
  background: #000;
  color: #fff;
}

/* hamburger button classes*/

.hamburger-button{
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}

.hamburger-button .hamburger-line{
  width: 30px;
  height: 3px;
  background: #333;
  margin: 6px 0;
}

/* mobile-menu*/

.mobile-menu{
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  z-index: 100;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.5s ease-in-out;
}

.mobile-menu.active{
  right: 0; 
}

.mobile-menu ul{
  margin-top:100px;
  padding-right:10px;
}

.mobile-menu ul li{
  margin: 10px 0;
}

.mobile-menu ul li a{
  font-size: 20px;
  transition: 0.3s;
}

/* Media queries*/
@media(max-width:960px){
  .text-xxl{
    font-size: 2.5rem;
  }
}

@media(max-width:670px){
 
  /* navbar*/

.navbar .main-menu{
  display: none;
}

.navbar .hamburger-button{
  display: block;
}

  /* hero section*/

.hero .container{
  background: url(../images/hero-bg-mobile.png) no-repeat;
  background-size: 350px 400px;
  background-position: bottom;
  height: 770px;
}

.hero .hero-content, .hero .hero-text{
  width: 100%;
  text-align: center;
}

.hero .hero-buttons .btn{
  margin-bottom: 10px;
  display: block;
  width: 100%;
}

.testimonials .testimonials-heading{
  max-width: 100%;
  text-align: center;
}

.testimonials .testimonials-grid, .pricing .pricing-grid, .footer .footer-grid{
  grid-template-columns: 1fr;
}

.footer .card{
  margin-right: 0;
}

.footer .footer-grid > div {
  text-align: center;
}

  /* text*/

  .text-xl{
    font-size: 1.9rem;
  }

  .text-lg{
    font-size: 1.5rem;
  }

  .text-md{
    font-size: 1.1rem;
  }

}

@media(max-width:500px){
.text-xxl{
  font-size: 2rem;
}
}